[submodule "server"]
	path = server
	url = https://bitbucket.org/redmatter-uk/docker-atlassian-bitbucket-server.git
[submodule "server-data"]
	path = server-data
	url = https://bitbucket.org/atlassian/docker-atlassian-bitbucket-server-data.git
[submodule "backup"]
	path = backup
	url = git@github.com:redmatter/docker-bitbucket-backup.git
